<div class="box form container">
    <h3 class="has-text-centered">Log in</h3>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input placeholder="ydgc@company.com" autofocus formControlName="email" class="input is-rounded"
                    type="email" [ngClass]="(email?.invalid && (email?.dirty || email?.touched))?'is-danger':''">
                <span class="error" *ngIf="(email?.invalid && (email?.dirty || email?.touched))">{{"Not a valid email"}}</span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input formControlName="password" class="input is-rounded" type="password"
                    [ngClass]="(password?.invalid && (password?.dirty || password?.touched))?'is-danger':''">
                <span class="error" *ngIf="(password?.invalid && (password?.dirty || password?.touched))">{{"Not a valid password"}}</span>
            </div>
        </div>

        <div class="control is-justify-content-right">
            <button [disabled]="!loginForm.valid" class="button is-link" type="submit">Login</button>
        </div>
    </form>
</div>
