<div class="toolbar" color="primary">
    <span class="title">My Angular Test</span>
</div>

<div class="content">
    <div class="card-container">
        <a class="card" href="login">
            <span>Login</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg> </a>
    
        <a class="card" href="register">
            <span>Register</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg>
        </a>
    
    </div>
</div>